@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@mixin font-face($family, $file, $format) {
  @font-face {
    font-family: $family;
    src: url("./fonts/" + $file) format($format);
  }
}

@include font-face("Potato Sans", "potato-sans.OTF", "opentype");

@mixin avatar($size) {
  width: $size;
  height: $size;

  border-radius: 100%;
}

@mixin button {
  font-family: inherit;
  font-size: 0.78em;
  font-weight: 800;
  text-transform: uppercase;

  background-color: $button-bg;
  color: $button-clr;

  padding: 0.8em 1.3em;
  border: none;
  border-radius: 8px;

  cursor: pointer;
  transition: $transition-time;

  &:hover {
    background-color: $button-hover-bg;
    color: $button-hover-clr;
  }
}

/* Variables */
$text-clr: rgb(245, 242, 242);

$button-bg: $text-clr;
$button-clr: rgb(19, 62, 169);
$button-hover-bg: $button-clr;
$button-hover-clr: rgb(213, 213, 213);

$body-padding: 5rem;

$transition-time: 0.25s;

/* General */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
}

body {
  font-family: "Poppins", sans-serif;

  background: {
    image: url(/background.jpg);
    size: cover;
    repeat: no-repeat;
  }
  color: $text-clr;
}

.button {
  @include button();
}

.avatar-select-overlay {
  position: fixed;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.5);

  > .avatar-select-body {
    position: relative;

    background-color: $text-clr;
    color: $button-clr;

    border-radius: 1em;

    > h2 {
      text-align: center;

      text-transform: capitalize;

      margin-bottom: 0;
    }

    > .avatars {
      $green: rgb(3, 176, 3);

      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1.5em;

      padding: 2em 3em 3em 3em;

      > .avatar {
        @include avatar(6em);

        position: relative;

        cursor: pointer;
        transition: scale $transition-time;

        &.selected {
          outline: 5px solid $green;
        }

        &:hover {
          scale: 1.15;
        }
      }
    }

    > button {
      position: absolute;
      top: 18px;
      right: 12px;

      display: flex;
      align-items: center;
      justify-content: center;

      background-color: inherit;
      color: inherit;

      height: 40px;
      width: 40px;

      border: none;

      border-radius: 50%;

      cursor: pointer;
      transition: 0.35s;

      &:hover {
        background-color: rgba(128, 128, 128, 0.2);
      }
    }
  }
}

.pop-up-container {
  display: flex;
  justify-content: center;
}

#pop-up {
  font-family: inherit;
  font-size: 0.9em;

  min-height: 0;

  padding: 0.5em 1em;
  border-radius: 0.5em;
}

/* Home */
.home {
  padding-top: 5rem;

  &.lobby {
    padding-top: 0;
  }

  > h1 {
    text-align: center;
    font: {
      family: "Potato Sans", sans-serif;
      size: 6.5em;
    }
    text-transform: uppercase;
    letter-spacing: 0.05em;

    margin-block: 0.7rem;
  }

  > .avatar-container {
    width: fit-content;
    position: relative;

    margin: 0 auto;
    margin-bottom: 0.5em;

    > .avatar {
      @include avatar(8.3em);

      margin-bottom: 1em;

      cursor: pointer;
    }

    > .change-avatar {
      position: absolute;
      bottom: 3%;
      left: 50%;

      display: flex;

      background-color: $button-bg;

      padding: 5px;
      border: none;
      border-radius: 100%;

      transform: translateX(-50%);
      cursor: pointer;
      transition: $transition-time;

      > .icon {
        font-size: 2.2em;

        color: $button-clr;

        transition: transform $transition-time;
      }

      &:hover {
        > .icon {
          transform: rotate(180deg);
        }
      }
    }
  }

  > .nickname-container {
    width: fit-content;

    display: flex;
    flex-direction: column;
    gap: 0.3em;

    margin: 0 auto;
    > .nickname-input {
      display: block;

      font-family: inherit;

      background-color: rgba(0, 0, 0, 0.25);
      color: inherit;

      width: 25em;

      padding: 1em;
      border: none;
      border-radius: 6px;
      outline: 1px solid transparent;

      transition: $transition-time;

      &::placeholder {
        color: $text-clr;
        opacity: 0.7;
      }

      &:hover,
      &:focus {
        outline: 1px solid $text-clr;
      }
    }
  }

  > .buttons {
    width: fit-content;

    display: flex;
    gap: 0.4em;

    margin: 0 auto;
    margin-top: 0.9em;
  }
}

/* Player */
.players {
  gap: 1.5rem;

  &-container {
    margin: 0 1rem;
    padding-right: 2rem;

    overflow-y: auto;

    > h2 {
      font-size: 1rem;
      text-align: center;
      margin: 0.2rem 0;
    }
  }
}

.player {
  position: relative;

  text-align: center;

  &-admin {
    position: absolute;
    top: -10px;
    left: 10px;
  }
  &-image {
    width: 5rem;
    height: 5rem;

    & img {
      width: 100%;
      height: 100%;
      border-radius: 100%;
    }
  }
}

/* Game */
.game {
  display: flex;
  height: calc(100% - 7rem - 56px);

  &-container {
    display: flex;
    flex-direction: column;

    width: 60%;
    height: calc(100vh - 200px);

    padding: 2rem;
    margin: 0 auto;
    border: 4px rgba(29, 29, 27, 0.15) solid;
    box-shadow: inset 0px 2px 0px 0px rgba(255, 255, 255, 0.15),
      0px 3px 0px 0px rgba(255, 255, 255, 0.15);
  }

  &-info {
    flex-grow: 1;

    & > label {
      display: block;
    }
    & > select {
      display: inline-block;
      width: 100%;

      padding: 0.5rem;
      margin-bottom: 1rem;
    }
  }
}

.start-button {
  display: block;
  margin: 0 auto;
  margin-top: 3rem;
}

.caption-input {
  display: block;
}

.invite {
  display: flex;

  background-color: $text-clr;
  color: $button-clr;

  width: 90%;

  margin: 0 auto;
  margin-top: 1rem;
  border-radius: 0.5em;

  &-content {
    flex-grow: 1;
    padding: 1em;
    font-weight: 700;
  }

  > .button {
    border-radius: 0 0.5em 0.5em 0;
  }
}

/* Media Queries */
@media (max-width: 700px) {
  body {
    font-size: 12px;

    .change-avatar {
      font-size: 10px;
    }

    .nickname-input {
      font-size: 11px;
    }
  }
}
